

body {
    background-color: #f5eec2;
    color: rgba(5, 56, 3, 0.884);
  }
h1 { background-color: #416a59 ; text-align: center ; font-family: Georgia, 'Times New Roman', Times, serif;margin: 40px 50px ; box-sizing: content-box;
    border-radius: 15px 50px; 
    padding-bottom: 10px;
padding-top: 10px;
color: #a9c25d;
box-shadow: 5px 10px 8px 5px #030e12 ;

}

.blg{ box-sizing: content-box; 
    background-color: #39395f;
     margin: 30px; 
    text-align: center; font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
    border: 5px outset orange; padding-left: 40px; color: #f5eec2;
padding-top: 10px;
padding-right: 40px;
padding-bottom: 20px;
border-radius: 15px 50px;
border: 1px solid;
padding: 10px;
box-shadow: 5px 10px 5px #000000;


}
.btn {

        background-color: #416a59; 
        color: #a9c25d;
border-radius: 5px;

}

.food { 

        background-color: #a9c25d;
        text-align: center;
        padding-top:  10px ;
        padding-bottom: 10px ;
        margin: 15px;
        border-radius: 5px 25px 5px;
        box-shadow: 5px 10px 5px #000000;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
        color: #39395f;

}